.header h1{
	background: #BEBEBE;
	display: block;
	max-width: 800px;
	margin: auto;
	height: 70px;
	text-indent: -10%;
	text-align: center;
	line-height: 70px;
	font-family: Verdana, Geneva, sans-serif;
}

.myTopnav ul{

  background: #dcdcdc;
  overflow: hidden;
	display: block;
	max-width: 760px;
	margin: auto;
	height:27px;
	text-indent: -10%;
	text-align: center;
	line-height: 26px;


}

.myTopnav li {
	display: inline;

}

.myTopnav a {
	display:inline;

    text-decoration: none;
    margin-right:solid 60px #dcdcdc ;
    margin-left:solid 60px #dcdcdc ;
    padding-top:4px;
    padding-right:29px;
    padding-left:29px;
    padding-bottom:6px ;

	}

/* unvisited link */
.myTopnav a:link {
    color: #000000
}

/* visited link */
.myTopnav a:visited {
    color: #000000
}

/* mouse over link */
.myTopnav a:hover {
    background-color: #000000;
    color: #ffffff;

}

/* selected link */
.myTopnav a:active {
    background-color: #000000;
    color: #ffffff;

}

.content {
	display: block;
	background-color: #ffffff;
	margin: auto;
	width: 800px;
	height: 600px;
	overflow: hidden;


}

.image {
	display: inline-block;
	height: 275px;
	width: 235px;
	position: relative;
	left: 80px;
	top: 15px;


}

.image img {
	height: 100%;
	width: 100%;
}

.info h2 {

	width: 100%;
	background-color: #e6d299;
	margin: 0px;*/
	margin-bottom: 7px;
	margin-top: 7px;



}



.info{
	display: inline-block;
	height: 275px;
	width: 420px;
	position: relative;
	left: 120px;
	bottom: 212px;

}

body {

	background-color: #f5f5f5;
}
